@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.br {
    border-radius: 6px;
}

.b {
    border: 1px solid black;
}


body {
    background-color: #F2F9FF;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

#calculator {
    width: 425px;
    height: 636px;
    padding: 32px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.display {
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.display input {
    width: 100%;
    height: 100%;
    font-size: 44px;
    text-align: end;
    border: none;
    padding-right: 6px;
    background-color: #Fff;
}

.cal_body {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
}

.btn {
    font-size: 28px;
    border-radius: 8px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    background-color: #fff;
}

.btn:nth-last-child(3) {
    grid-column: span 2;
}

.btn:active{
    color: #fff;
    background-color: #83B4FF;

}

.copyright p a {
    text-decoration: none;
    font-family: "Bonheur Royale", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 38px;
    color: #3572EF;
}